In [17]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()
import pandas as pd

file_path = 'Violence Against Women Girls Data.csv'

# 确认文件是否存在
import os
if os.path.exists(file_path):
    print(f"File exists at: {file_path}")
else:
    print(f"No file found at: {file_path}")
    # 这里你可以选择提前结束脚本，避免因文件不存在而抛出的异常
    # raise SystemExit("Stopping script.")

# 如果文件存在，继续进行数据读取和操作
df = spark.read.csv(file_path, inferSchema=True, header=True)

# 显示数据和模式
df.show()
df.printSchema()

No file found at: Violence Against Women Girls Data.csv

AnalysisException: Path does not exist: file:/home/ubuntu/722-test/aws-instance-fork/Datasets/Violence Against Women Girls Data.csv

In [25]:
file='Violence Against Women  Girls Data.csv'

In [26]:
df = pd.read_csv(file)

print(df)

       RecordID      Country Gender Demographics Question  \
0             1  Afghanistan      F        Marital status
1             1  Afghanistan      F             Education
2             1  Afghanistan      F             Education
3             1  Afghanistan      F             Education
4             1  Afghanistan      F        Marital status
...         ...          ...    ...                   ...
12595       210     Zimbabwe      M             Residence
12596       280     Zimbabwe      M             Residence
12597       280     Zimbabwe      M             Residence
12598       350     Zimbabwe      M             Residence
12599       350     Zimbabwe      M             Residence

              Demographics Response                                 Question  \
0                     Never married                ... if she burns the food
1                            Higher                ... if she burns the food
2                         Secondary                ... if she burns the food
3                           Primary                ... if she burns the food
4      Widowed, divorced, separated                ... if she burns the food
...                             ...                                      ...
12595                         Urban  ... if she goes out without telling him
12596                         Rural         ... if she neglects the children
12597                         Urban         ... if she neglects the children
12598                         Rural  ... if she refuses to have sex with him
12599                         Urban  ... if she refuses to have sex with him

      Survey Year  Value
0      01/01/2015    NaN
1      01/01/2015   10.1
2      01/01/2015   13.7
3      01/01/2015   13.8
4      01/01/2015   13.8
...           ...    ...
12595  01/01/2015   11.8
12596  01/01/2015   20.1
12597  01/01/2015   15.0
12598  01/01/2015    7.2
12599  01/01/2015    3.7

[12600 rows x 8 columns]

In [27]:
df.head()
df.shape 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [28]:
df = spark.read.csv(file, inferSchema=True, header=True)

In [29]:
df.show()

+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+
|RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|Value|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015| null|
|       1|Afghanistan|     F|            Education|               Higher|... if she burns ...| 01/01/2015| 10.1|
|       1|Afghanistan|     F|            Education|            Secondary|... if she burns ...| 01/01/2015| 13.7|
|       1|Afghanistan|     F|            Education|              Primary|... if she burns ...| 01/01/2015| 13.8|
|       1|Afghanistan|     F|       Marital status| Widowed, divorced...|... if she burns ...| 01/01/2015| 13.8|
|       1|Afghanistan|     F|           Employment|    Employed for kind|... if she burns ...| 01/01/2015| 17.0|
|       1|Afghanistan|     F|                  Age|                15-24|... if she burns ...| 01/01/2015| 17.3|
|       1|Afghanistan|     F|           Employment|           Unemployed|... if she burns ...| 01/01/2015| 18.0|
|       1|Afghanistan|     F|            Residence|                Rural|... if she burns ...| 01/01/2015| 18.1|
|       1|Afghanistan|     F|                  Age|                25-34|... if she burns ...| 01/01/2015| 18.2|
|       1|Afghanistan|     F|       Marital status| Married or living...|... if she burns ...| 01/01/2015| 18.3|
|       1|Afghanistan|     F|            Residence|                Urban|... if she burns ...| 01/01/2015| 18.3|
|       1|Afghanistan|     F|                  Age|                35-49|... if she burns ...| 01/01/2015| 18.8|
|       1|Afghanistan|     F|            Education|         No education|... if she burns ...| 01/01/2015| 19.1|
|       1|Afghanistan|     F|           Employment|    Employed for cash|... if she burns ...| 01/01/2015| 20.8|
|       1|Afghanistan|     M|       Marital status|        Never married|... if she burns ...| 01/01/2015| null|
|       1|Afghanistan|     M|            Education|               Higher|... if she burns ...| 01/01/2015|  4.5|
|       1|Afghanistan|     M|            Residence|                Urban|... if she burns ...| 01/01/2015|  4.6|
|       1|Afghanistan|     M|           Employment|           Unemployed|... if she burns ...| 01/01/2015|  5.2|
|       1|Afghanistan|     M|            Education|              Primary|... if she burns ...| 01/01/2015|  6.3|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+
only showing top 20 rows

In [30]:
df.printSchema()

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = true)

In [31]:
df.describe().show()

+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+
|summary|          RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|             Value|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+
|  count|             12600|      12600| 12600|                12600|                12600|               12600|      12600|             11187|
|   mean|             210.5|       null|  null|                 null|                 null|                null|       null| 19.76253687315632|
| stddev|121.24802439346753|       null|  null|                 null|                 null|                null|       null|16.986436699740587|
|    min|                 1|Afghanistan|     F|                  Age|                15-24|... for at least ...| 01/01/2000|               0.0|
|    max|               420|   Zimbabwe|     M|            Residence| Widowed, divorced...|... if she refuse...| 01/01/2018|              86.9|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+

In [14]:
df.describe().show()

+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+
|summary|          RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|             Value|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+
|  count|             12600|      12600| 12600|                12600|                12600|               12600|      12600|             11187|
|   mean|             210.5|       null|  null|                 null|                 null|                null|       null| 19.76253687315632|
| stddev|121.24802439346753|       null|  null|                 null|                 null|                null|       null|16.986436699740587|
|    min|                 1|Afghanistan|     F|                  Age|                15-24|... for at least ...| 01/01/2000|               0.0|
|    max|               420|   Zimbabwe|     M|            Residence| Widowed, divorced...|... if she refuse...| 01/01/2018|              86.9|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, mean, stddev, min, max, format_number

df_grouped = df.groupBy("RecordID").agg(
    count("Value").alias("count"),
    format_number(mean("Value"), 2).alias("mean"),
    format_number(stddev("Value"), 2).alias("stddev"),
    min("Value").alias("min"),
    max("Value").alias("max")
)

# result
df_grouped.show()

+--------+-----+-----+------+----+----+
|RecordID|count| mean|stddev| min| max|
+--------+-----+-----+------+----+----+
|     148|   15| 6.31|  2.47| 1.9|12.0|
|     243|   28|20.00|  8.35| 2.4|34.3|
|     392|   30|59.93| 18.82|16.6|83.3|
|      31|   30| 3.81|  2.22| 0.4|10.8|
|      85|   30|10.80|  5.35| 1.4|18.1|
|     251|   30|14.55|  3.72| 7.4|21.2|
|     137|   26| 3.34|  2.96| 0.4|13.0|
|      65|   15|23.37|  8.86| 8.0|48.4|
|     255|   30| 5.69|  2.44| 0.4|10.8|
|      53|   15| 1.24|  0.43| 0.8| 2.2|
|     296|   30|19.90|  8.16| 7.8|35.1|
|     133|   30|14.25|  5.85| 3.9|26.4|
|      78|   15| 5.45|  1.81| 1.7| 9.3|
|     322|   30|40.31| 20.76| 3.1|66.7|
|     362|   30|41.14|  8.06|13.7|53.9|
|     321|   30| 7.80|  3.55| 1.7|16.7|
|     375|   30|44.70| 15.55|15.4|72.7|
|     155|   30|17.38| 11.29| 2.7|34.0|
|     108|   30|25.15|  8.48| 8.8|38.8|
|     211|   28|36.43| 11.30|19.6|50.6|
+--------+-----+-----+------+----+----+
only showing top 20 rows